{% set maxPostsPerPage = 3 %}

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Foundation | Welcome</title>
		<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li class="menu-text">Lorem Agency</li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
					<li><a href="#">Four</a></li>
				</ul>
			</div>
		</div>
		<div class="callout large primary">
			<div class="row column text-center">
				<h1>Lorem ipsum</h1>
			</div>
		</div>
		<div class="row" id="content">
			<div class="medium-8 columns">
				{% block posts %} {% endblock %}
			</div>
			<div class="medium-3 columns" data-sticky-container>
				<div class="sticky" data-sticky data-anchor="content">
					<h4>Categories</h4>
					<ul>
						<li><a href="#">A</a></li>
						<li><a href="#">B</a></li>
						<li><a href="#">C</a></li>
						<li><a href="#">D</a></li>
					</ul>
					<h4>Authors</h4>
					<ul>
						<li><a href="#">Skyler</a></li>
						<li><a href="#">Jesse</a></li>
						<li><a href="#">Mike</a></li>
						<li><a href="#">Holly</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row column">
			<ul class="pagination" role="navigation" aria-label="Pagination">
				<li class="disabled">Previous</li>
				{% block pagination %} {% endblock %}
				<li><a href="#" >Next</a></li>
			</ul>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>